.page {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    min-width: 1280px;
    background-color: #2a2c2f;
}