.places {
    max-width: 984px;
    margin: auto;
    padding-bottom: 12px;
}

@media screen and (max-width: 1279px) {
    .places {
        width: 90.63%;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: 93.75%;
        padding-bottom: 21px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        padding-bottom: 16px;
    }
}