.lead {
    width: 76.8%;
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .lead {
        width: 90.63%;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 100%;
    }
}
