.cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    width: 360px;
    position: absolute;
    top: 429px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1280px) {
    .cover__subtitle {
        top: 379px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        top: 299px;
    }
}