.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 56px;
}


@media screen and (max-width: 1279px) {
    .header {
        width: 90.6%;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 93.75%;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 90%;
        padding-top: 16px;
    }
}