.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: auto;
    padding-bottom: 92px;
    position: relative;
}


@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
        padding-bottom: 64px;
    }
}