.place__link {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.2;
}

.place__link:hover {
    opacity: 50%;
    transition-duration: .2s;
}

@media screen and (max-width: 768px) {
    .place__link {
        display: block;
        min-width: 288px;
        padding-left: 5%;
    }
}