@import url(../blocks/page/page.css);
@import url(../blocks/font/font.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/_decoration/header__lang-link_decoration_none.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__number/intro__number.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__article/intro__article.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__container/photo-grid__container.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);