.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        padding: 0 0 88px 24px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding: 0 0 64px 16px;
    }
}