.place {
    width: 100%;
    padding-bottom: 80px;
    display: grid;
    grid-template-areas: 
        "title website"
        "image text";
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 28px;
    }
}