.footer {
    width: 92.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.87%;
}

@media screen and (max-width: 1280px) {
    .footer {
        width: 90.63%;
        padding-bottom: 2.34%;
    }
}