.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-area: website;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        min-width: 288px;
        padding-left: 5%;
    }
}